{% extends 'base.html' %}

{% block content %}

<h1>{% block title %}P-12 Education Equity{% endblock %}
<p id="overview">
Learn about educational equity, opportunity, and results from pre-K to high school.
</p>
<form action="/get_equity_stats" method="POST" name="equity_in_area">
<div class="background1 primary-palette">
	<label for="location" id="location_label">Location</label>
	<input type="text" name="location" placeholder=".e.g. Tulsa, OK" id="location" required>
	<input type="button" value="Use my current location" onClick="getLocation();">
</div>
<input type="submit" name="submit" value="Go" id="equity_submit" class="w3-btn">
</form>
<script type="module">

import * as d3 from "https://cdn.skypack.dev/d3@7";

const div = d3.selectAll("div");

</script>
<script src="{{url_for('static', filename='js/visualize.js')}}"></script>
<script src="{{url_for('static', filename='js/locate.js')}}"></script>

{% endblock %}